*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ---- Nav Bar ---- */
nav{
  padding: 0 15px;
  background-color: #036937;
  font-family: 'Roboto', sans-serif;
  border-top: 3px solid #F2A900;
  border-bottom: 3px solid #F2A900;
}

/* Nav Bar Links */
nav a{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.menu, .toggle, .subitem{
  list-style: none;
}

.item{
  padding: 10px
}

/* Responsive Nav Full Screen */
@media screen and (min-width:1025px){
  .item a:hover{
    background: #F2A900;
    color: #036937;
  }
}

/* ---- Mobile Menu ---- */
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a{
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a{
  padding: 15px;
}

.toggle{
  order:  1;
  font-size: 20px;
}

.item{
  order: 2; 
  width: 100%;
  text-align: left;
  display: none;
}

.active .item{
  display: block;
}

/* ---- Sub Menu ---- */
.submenu {
  display: none;
}

.submenu-active .submenu{
  display: block;
}

/* FA Chevron Down Arrow */
.has-submenu > a::after{
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color:#FFFFFF;
  padding-left: 5px;
}

/* .subitem a{
  padding: 10px 15px;
  border-radius: 3px;
} */

.submenu-active .subitem{
  background: #07371D;
}